body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    /* font-family: 'Oswald', sans-serif; */
}

main {
    flex: 1 0 auto;
}

.nav-wrapper {
    background-color: black;
}

.section {
    height: 500px;
  }

/* .parallax {
    height: 500px;
} */

footer.page-footer {
    background-color: black;
    color: black;
}

.parallax img { 
    width: 100%;
    filter: grayscale(75%); 
}
